{% extends '::base.html.twig' %}

{% block body -%}
<br/><br/><br/><br/>
    <h1>Kendo UI</h1>
    <ul>
        <li><a href="{{ '#' }}">Calendar</a></li>
        <li><a href="{{ '#' }}">Datepicker</a></li>
        <li><a href="{{ '#' }}">Dropdownlist</a></li>
        <li><a href="{{ '#' }}">grid</a></li>
        <li><a href="{{ '#' }}">Tooltip</a></li>
        <li><a href="{{ '#' }}">Treeview</a></li>
        <li><a href="{{ '#' }}">Upload</a></li>
    </ul>
    
{% endblock %}